name: Build Android APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Flet
        run: |
          pip install flet
          pip install -r requirements.txt

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Build APK
        # Thêm --no-android-gradle-daemon để ổn định hơn trên GitHub
        run: |
          flet build apk --verbose 

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: TaLaPro-App
          # SỬA LỖI TẠI ĐÂY: Dùng **/*.apk để tìm file ở mọi ngóc ngách
          path: "**/*.apk"
